.block__mainvisual{
  padding: 312px 0 160px 0;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 155px;
  background: url(../images/main/BG.jpg) no-repeat top center;
  @include bp(0, 1024px) {
    padding: 312px 0 450px 0;
  }
  @include bp(0, 768px) {
    padding: 235px 0 350px 0;
  }
  @include bp(0, 640px) {
    padding: 140px 15px 330px;
    overflow: hidden;
    margin-bottom: 0;
    background-size: auto 620px;
  }
  @include bp(0, 411px) {
    background: url(../images/main/bg_sp.png) no-repeat top center;
    background-size: 100% auto;
  }
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 69%;
      width: 660px;
      height: 933px;
      background: url(../images/main/fairy.png) no-repeat left top;
      @include bp(0, 1024px) {
        left: 50%;
        transform: translateX(-50%);
        width: 550px;
        bottom: -70px;
        margin-left: 85px;
        background-size: 100% auto;
        height: 590px;
      }
      @include bp(0, 768px) {
        width: 480px;
        height: 517px;
      }
      @include bp(0, 640px) {
        background: url(../images/main/fairy_sp.png) no-repeat left top;
        height: 258px;
        width: 342px;
        margin: 0;
        bottom: 60px;
      }
    }
  &--inner{
    position: relative;
    z-index: 5;
    &:after{
      content: "";
      position: absolute;
      width: 1060px;
      height: 480px;
      left: -140px;
      top: 130px;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      z-index: -1;
      -webkit-mask-image: radial-gradient(150px at 50% 50%,transparent 100%, black 100%);
      mask-image: radial-gradient(150px at 50% 50%,transparent 100%, black 100%);
      border-radius: 50%;
      @include bp(0, 1140px) {
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
      } 
      @include bp(0, 640px) {
        height: 280px;
      }
      @include bp(0, 411px) {
        display: none;
      }
    }
  }
  .block__mainvisual--title{
    margin-bottom: 20px;
    @include bp(0, 1140px) {
      margin-bottom: 38px;
    } 
    h1{
      font-family: $font-family-playfair;
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 120px;
      br{
        display: none;
        @include bp(0, 768px) {
          display: block;
        }
      }
      @include bp(0, 768px) {
        line-height: 100px;
        text-align: center;
      }
      @include bp(0, 640px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
  .block__countdown{
    margin-bottom: 90px;
    @include bp(0, 640px) {
      margin-bottom: 40px;
    }
    ul{
      display: flex;
      background-color: #fff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 21px;
      padding: 22px 0 30px;
      @include bp(0, 640px) {
        padding: 18px 0 25px;
      }
      li{
          font-family: $font-family-montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 15.6414px;
          line-height: 19px;
          color: #000;
          text-align: center;
          width: 25%;
          @include bp(0, 640px) {
            font-size: 12px;
            line-height: 15px;
          }
        p{
          font-family: $font-family-playfair;
          font-style: normal;
          font-weight: 900;
          font-size: 60px;
          line-height: 64px;
          color: #000;
          position: relative;
          margin-bottom: 15px;
          @include bp(0, 640px) {
            font-size: 36px;
            line-height: 45px;
          }
          small{
            font-family: $font-family-montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 65.1724px;
            line-height: 79px;
            position: absolute;
            right: -5px;
            @include bp(0, 640px) {
              font-size: 40px;
              line-height: 49px;
            }
          }
        }
      }
    }
  }
  .block__description{
    margin-bottom: 30px;
    text-align: center;
    @include bp(0, 640px) {
      margin-bottom: 10px;
    }
    p{
      font-size: 18px;
      @include bp(0, 640px) {
        font-size: 12px;
      }
    }
  }
}
.block__about{
  .block__about--inner{
    display: flex;
    justify-content: space-between;
    @include bp(0, 768px) {
      display: block;
    }
    .block__about--lft{
      width: 48%;
      @include bp(0, 768px) {
        width: 100%;
        overflow: hidden;
      }
      .about__title{
        margin-bottom: 40px;
        @include bp(0, 640px) {
          margin-bottom: 16px;
        }
        h2{
            font-family: $font-family-playfair;
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 60px;
            letter-spacing: 3.6px;
            color: #000000;
            @include bp(0, 640px) {
              font-size: 40px;
              line-height: 50px;
            }
        }
      }
      .about__description{
        margin-bottom: 90px;
        @include bp(0, 768px) {
          margin-bottom: 60px;
        }
      }
      .about__total{
        margin-bottom: 55px;
        @include bp(0, 768px) {
         float: left;
         margin-right: 80px;
        }
        @include bp(0, 640px) {
          margin-right: 32px;
          margin-bottom: 40px;
         }
        .total_number{
          font-weight: bold;
          font-size: 80px;
          line-height: 98px;
          color: #079BEE;
          display: inline-block;
          padding-right: 80px;
          position: relative;
          @include bp(0, 640px) {
            font-size: 44px;
            line-height: 54px;
            padding-right: 47px;
            margin-bottom: 10px;
           }
          &:after{
            position: absolute;
            content: "";
            right: 0;
          }
          &.number-user{
            &:after{
              width: 77px;
              height: 47px;
              background: url(../images/icon/m+.png) no-repeat;
              top: 30px;
              @include bp(0, 640px) {
                width: 43px;
                height: 31px;
                top: 15px;
                background-size: 100% auto;
               }
            }
          }
          &.number-games{
            &:after{
              width: 39px;
              height: 38px;
              background: url(../images/icon/icon_c.png) no-repeat;
              top: 30px;
              right: 30px;
              @include bp(0, 640px) {
                width: 23px;
                height: 25px;
                top: 17px;
                right: 16px;
                background-size: 100% auto;
               }
            }
          }
        }
        .total_name{
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          color: #000000;
        }
      }
    }
    .block__about--rgt{
      width: 48%;
      @include bp(0, 768px) {
        width: auto;
        margin: 0 -30px;
      }
      .block__rgt--inner{
        background: #EEEEEE;
        padding: 105px 70px 70px;
        @include bp(0, 1180px) {
          padding: 60px 40px 24px;
          } 
          @include bp(0, 640px) {
            padding: 40px 15px 1px;
            } 
        .block__item{
          display: flex;
          margin-bottom: 40px;
          .item__icon{
            width: 18%;
            @include bp(0, 768px) {
              width: 12%;
            } 
            @include bp(0, 640px) {
              width: 21%;
            } 
          }
          .item__content{
            width: 82%;
            h3{
              font-weight: bold;
              font-size: 24px;
              line-height: 30px;
              color: #000;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
.block__map{
  text-align: center;
  padding: 400px 0 150px;
  position: relative;
  overflow: hidden;
  @include bp(0, 768px) {
    padding: 315px 0 110px;
  } 
  @include bp(0, 640px) {
    padding: 255px 0 60px;
  } 
  .witch{
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -265px;
    opacity: 0;
    transition: all linear 1s;
    -moz-transition: all linear 1s;
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
    -ms-transition: all linear 1s; 
    @include bp(0, 768px) {
      margin-left: -210px;
      img{
        width: 400px;
      }
    } 
    @include bp(0, 640px) {
      margin-left: -147px;
      top: 40px;
      img{
        width: 300px;
      }
    } 
    &.is__active{
      animation: r 1.5s linear  alternate;
      -moz-animation: r 1.5s linear  alternate;
      -webkit-animation: r 1.5s linear  alternate;
      -o-animation: r 1.5s linear  alternate;
      -ms-animation: r 1.5s linear  alternate;
      opacity: 1;
    }
  }
}
.our__games{
  text-align: center;
  padding: 0 80px 90px;
  @include bp(0, 1180px) {
    padding: 0 60px 90px;
  } 
  @include bp(0, 860px) {
    padding: 0 30px 90px;
  } 
  @include bp(0, 640px) {
    padding: 0 30px 48px;
  } 
  .our__games--ttl{
    margin-bottom: 75px;
    @include bp(0, 640px) {
      margin-bottom: 40px;
    } 
    h2{
      font-weight: 900;
      font-size: 60px;
      line-height: 60px;
      color: #000;
      font-family: $font-family-playfair;
      margin-bottom: 30px;
      @include bp(0, 640px) {
        font-size: 40px;
        line-height: 50px;
      } 
    }
  }
  .our__games--cnt{
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    @include clearfix();
    margin: 0 -20px;
    .our__games--item{
      width: 25%;
      float: left;
      padding: 0 20px;
      @include bp(0, 860px) {
        padding: 0 15px;
      } 
      @include bp(0, 640px) {
        padding: 0 7px;
      } 
      &:nth-child(4n+1){
       clear: left;
      }
      &:nth-child(2){
        margin-top: 110px;
       }
       &:nth-child(4){
        margin-top: 110px;
       }
       &:nth-child(5){
        margin-top: -110px;
       }
       &:nth-child(7){
        margin-top: -110px;
       }
       &:nth-child(9){
        margin-top: -110px;
       }
       &:nth-child(11){
        margin-top: -110px;
       }
       @include bp(0, 1350px) {
          width: 33.33%;    
        &:nth-child(3n+1){
          clear: left;
         }   
         &:nth-child(4n+1){
          clear: inherit;
         }  
         &:nth-child(5){
          margin-top: 0;
         }
         &:nth-child(4){
          margin-top: -110px;
         }
         &:nth-child(6){
          margin-top: -110px;
         }
         &:nth-child(11){
          margin-top: 0;
         }
         &:nth-child(10){
          margin-top: -110px;
         }
         &:nth-child(12){
          margin-top: -110px;
         }
        } 
        @include bp(0, 768px) {
          width: 50%; 
          &:nth-child(3n+1){
            clear: inherit;
           } 
           &:nth-child(2n+1){
            clear: left;
           } 
           &:nth-child(3){
            margin-top: -110px;
           }
           &:nth-child(4){
            margin-top: 0;
           }
           &:nth-child(5){
            margin-top: -110px;
           }
           &:nth-child(6){
            margin-top: 0;
           }
           &:nth-child(10){
            margin-top: 0;
           }
           &:nth-child(11){
            margin-top: -110px;
           }
           &:nth-child(12){
            margin-top: 0;
           }
        }
        @include bp(0, 640px) {
          &:nth-child(2){
            margin-top: 35px;
           }
           &:nth-child(3){
            margin-top: -35px;
           }
           &:nth-child(5){
            margin-top: -35px;
           }
           &:nth-child(7){
            margin-top: -35px;
           }
           &:nth-child(9){
            margin-top: -35px;
           }
           &:nth-child(11){
            margin-top: -35px;
           }
        }
       .our__games--wrap{
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 40px;
        position: relative;
        @include bp(0, 860px) {
          margin-bottom: 30px;
        } 
        @include bp(0, 640px) {
          margin-bottom: 14px;
        } 
        a{
          display: block;
          position: relative;
          &::after{
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
          }
          &:hover{
            &:after{
              -webkit-animation: shine .75s;
              animation: shine .75s;
            }
          }
        }
       }
      .our__games--body{
        padding: 0 30px;
        position: absolute;
        bottom: 38px;
        left: 0;
        text-align: left;
        @include bp(0, 1024px) {
          padding: 0 10px;
        }
        @include bp(0, 640px) {
          bottom: 10px;
        }
        h3{
          font-weight: bold;
          font-size: 48px;
          line-height: 60px;
          color: #fff;
          margin-bottom: 15px;
          @include bp(0, 1100px) {
            font-size: 40px;
            line-height: 40px;
          }
          @include bp(0, 640px) {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 3px;
          }
        }
        p{
          color: #FFFFFF;
          @include bp(0, 640px) {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}
.our__partners{
  text-align: center;
  background: #F6F6F6;
  padding: 120px 230px ;
  @include bp(0, 1350px) {
    padding: 120px 160px ;               
    } 
    @include bp(0, 1100px) {
      padding: 120px 100px ;               
      }
      @include bp(0, 860px) {
        padding: 120px 60px ;               
        }
        @include bp(0, 640px) {
          padding: 40px 60px ;  
          overflow: hidden;
          .slick-list{
                overflow: inherit;
            
          }             
      }
  &--ttl{
    text-align: center;
    margin-bottom: 80px;
    @include bp(0, 640px) {
      margin-bottom: 40px;            
    }
    h2{
      font-weight: 900;
      font-size: 60px;
      line-height: 60px;
      color: #000;
      font-family: $font-family-playfair;
      @include bp(0, 640px) {
        font-size: 40px;
        line-height: 50px;              
      }
    }
  }
}